/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.railway
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.scribe
.env
docker-compose.yml
.claude-flow

.continue
/database/sql/my-roles.sql
/scripts/my-set-db-roles.ps1
